body {
    margin: 10px auto;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    /*width: 100%;*/
}
#sol {
    width: 20%;
    height: 500px;
    float: left;
    padding: 10px;
    top: 40px;
    display: inline-block;
   /* background-color: green;*/
    border-right: 1px solid #d5d5d5;
    
}

#main {
    width: 50%;
    /*height: 500px;*/
    /*float: right;*/
    padding: 15px;
    top: 40px;
    display: inline-block;
    /*background-color: yellow;*/
}

#foto {
    width: 160px;
    height: 240px;
    border-bottom: 1px solid black;
    /*border-radius: 50px;*/
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    float: right;
    margin-right: 15px;
    
}

#bilgi {
    width: 160px;
    height: 60px;
    float: right;
    margin-right: 15px;
    
    
}
#foto img {
    border: 1px solid black;
    border-radius: 200px;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #e60000;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    /*margin-top: 25px;*/
    font-size: 1.1em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

caption {
    caption-side: bottom;
}
