body {
    margin: 10px auto;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size:1em;
    /*width: 100%;*/
}
#sol {
    width: 20%;
    height: 500px;
    float: left;
    padding: 0px;
    /*top: 20px;*/
    display: inline-block;
    /*background-color: green;*/
    border-right: 1px solid #d5d5d5;
    
}

#main {
    width: 52%;
    /*height: 500px;*/
    /*float: right;*/
    padding: 15px;
    top: 40px;
    display: inline-block;
    /*background-color: yellow;*/
}
#sag {
    width: 15%;
    height: 500px;
    float: right;
    margin-right:7%;
    padding-top: 10px;
    padding-left: 15px;
    text-align: right;
    display: inline-block;
    /*background-color: green;*/
    border-left: 1px solid #d5d5d5;
}

#foto {
    width: 160px;
    height: 240px;
    border-bottom: 1px solid #d5d5d5;
    /*border-radius: 50px;*/
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    float: right;
    margin-right: 15px;
}

#bilgi {
    width: 160px;
    height: 80px;
    float: right;
    /*position: absolute;*/
    margin-right: 15px;
}

#bilgi a {
    border-left: 13px solid #d5d5d5;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 5px;
    line-height: 1.5em;
    
}
#foto img {
    border: 1px solid black;
    border-radius: 300px;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav {
    border-bottom: 1px solid #d5d5d5;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    
}
footer p {
    text-align: center;
}

a {
    text-decoration: none;
    color: #e60000;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    /*margin-top: 25px;*/
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

caption {
    caption-side: bottom;
}
.blurb {
    /*text-align: justify;*/
}
