<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		
	     <nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/pubs">Publications</a></li>
        		<li><a href="/teaching">Teaching</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
	      </nav>
	     
		<div class="container">
		  
    		{{ content }}
		
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:tekinler@gmail.com" target="_blank">email</a></li>
        		<li><a href="https://github.com/tekinonlayn" target="_blank">github.com/tekinonlayn</a></li>
        		<li><a href="https://www.twitter.com/tekinonlayn" target="_blank">twitter/tekinonlayn</a></li>
			</ul>
		</footer>
	     <script type="text/javascript" src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
	     <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	</body>
</html>
