<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/varsay.css">
	</head>
	<body>
		<div id="sol">
			
			<div id="foto">
				<p>Gültekin IŞIK</p>
				<img src="/img/profile.jpg" width="160px" height="160px">
				
			</div>
			<div id="bilgi">
				<p>twitter:</p>
				<p>github:</p>
				<p>linkedin:</p>
			</div>
		</div>
		<div id="main">
	
	      <nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/pubs">Publications</a></li>
        		<li><a href="/teaching">Teaching</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
	      </nav>
	      
		<div class="container">
		  
    		{{ content }}
		
		</div><!-- /.container -->
		
		<footer>
    		<ul>
        		<li><a href="mailto:tekinler@gmail.com">email</a></li>
        		<li><a href="https://github.com/tekinonlayn">github.com/tekinonlayn</a></li>
			</ul>
		</footer>
		</div> <!-- main div -->
	     <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	</body>
</html>
